<!DOCTYPE html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <link rel='stylesheet' type="text/css" href='bipoc.css'>

</head>

<body>
  {{{body}}}
  <script src="/src/constants/EventConstants.js" type="module"></script>
  <script src="/src/constants/HTMLIDConstantsApp.js" type="module"></script>
  <script src="/src/constants/HTMLIDConstantsSignIn.js" type="module"></script>
  <script src="/src/constants/StatusConstants.js" type="module"></script>
  <script src="/src/network/NetworkProxy.js" type="module"></script>
  <script src="/src/framework/CustomEventSource.js" type="module"></script>
  <script src="/src/framework/ClientEventSource.js" type="module"></script>
  <script src="/src/framework/CustomEventTarget.js" type="module"></script>
  <script src="/src/framework/BIPOCElement.js" type="module"></script>
  <script src="/src/member/MemberData.js" type="module"></script>
  <script src="/src/member/Member.js" type="module"></script>
  <script src="/src/sign-in/SignInView.js" type="module"></script>
  <script src="/src/sign-in/SignInController.js" type="module"></script>
</body>