<div>
  <form>
    <label for="firstname">FirstName</label>
    <input id="{{PROFILE_FIRST_NAME_INPUT}}" name="firstname" type="text">
    <label for="firstname">Last Name:</label>
    <input id="{{PROFILE_LAST_NAME_INPUT}}" name="lastname" type="text">
    <label for="About">Last Name:</label>
    <input id="{{PROFILE_LAST_NAME_INPUT}}" name="about" type="text">
  </form>

  {{>section2}}
</div>