<div>
  <form>
    <label for="firstname">Section1:</label>
    <input id="{{PROFILE_FIRST_NAME_INPUT}}" name="address" type="text">
    <label for="firstname">City:</label>
    <input id="{{PROFILE_LAST_NAME_INPUT}}" name="city" type="text">
    <label for="About">State:</label>
    <input id="{{PROFILE_LAST_NAME_INPUT}}" name="state" type="text">
  </form>

  {{>section2}}
</div>